<div *ngIf="hasData"
     class="m-1">

  <h2 class="m-1">
    {{ 'statistics.table.title.' + report.reportType | translate }}
  </h2>

  <div class="table-responsive">
    <div class="table table-striped" [attr.data-test]="report.reportType">
      <div class="div-table-body">
          <div class="div-table-row">
            <div class="div-table-stats-column-1"></div>
            <div class="div-table-stats-column-2 div-table-stats-clolumn-2-bold" 
              scope="col"
              *ngFor="let header of headers"
              class="{{header}}-header">
              {{ header }}
            </div>
          </div>
          <div class="div-table-row" 
                *ngFor="let point of report.points"
                class="{{point.id}}-data">
            <div class="div-table-stats-column-1 div-table-stats-clolumn-1-bold" 
                  scope="row" 
                  data-test="statistics-label">
              {{ getLabel(point) | async }}
            </div>
            <div class="div-table-stats-column-2" 
                  *ngFor="let header of headers"
                class="{{point.id}}-{{header}}-data">
              {{ point.values[header] }}
            </div>
          </div>
      </div>
    </div>
</div>
